body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

.search-container {
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 20px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.table-container {
    margin: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background: #ffcc00;
    color: #fff;
    padding: 10px;
}

td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #e4e4e4;
}

table tr:hover {
    background-color: #77a2ff; /* Cor de fundo ao passar o mouse */
}

table tr:focus-within {
    background-color: #77a2ff; /* Cor de fundo ao receber foco */
}


/* Estilos para o modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo no lugar */
    z-index: 1; /* Fica no topo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita a rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com opacidade */
}

/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Largura do modal - ajuste conforme necessário */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.6s;
}



/* Botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: -20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilizando o título dentro do modal */
#produtoModal h2 {
    background-color: #6c757d;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px 5px 0 0;
}
/* Estilos para o modal */
#produtoModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

#produtoModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #ccc;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 8px;
}

#produtoModal h2 {
    background-color: #4e5d6c;
    color: #ffffff;
    padding: 20px;
    margin: -40px -40px 20px -40px;
    border-radius: 8px 8px 0 0;
}

#produtoModal .close {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

#produtoModal .close:hover,
#produtoModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalCodigoDoProduto {
    color: #28527a;
    font-weight: bold;
    margin-bottom: 12px;
}

#modalDescricao {
    font-weight: bold;
    color: #353535;
    margin-bottom: 12px;
}


#modalRevenda,
#modalAtacado {
    font-size: 1.3rem;
    color: #28527a;
    font-weight: bold;
    margin-bottom: 12px;
}

#modalVenda
 {
    font-size: 1.3rem;
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 12px;
}
/* Animação do modal aparecendo do topo */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/*logo modal*/
.logo-container {
    position: absolute;
    top: 10px;
    left: 30px;
}

.logo {
    height: 50px; /* Ajuste conforme necessário */
}
.modal-logo {
    display: block; /* Ocupa toda a largura disponível */
    max-width: 100px; /* Ajuste para o tamanho desejado */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 10px 0; /* Adiciona um pouco de espaço acima e abaixo */
}
