body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

.search-container {
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px solid #ddd;
}

.search-container button {
    padding: 10px 20px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
}

.table-container {
    margin: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background: #ffcc00;
    color: #fff;
    padding: 10px;
}

td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para o modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo no lugar */
    z-index: 1; /* Fica no topo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita a rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com opacidade */
}

/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Largura do modal - ajuste conforme necessário */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Animação do modal aparecendo */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 50px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Adicione mais estilos conforme necessário */
